## Today Ojectives

- ID,Name
- Memory Address,


- Alias:
  - int & x = y  --> alias name 
  - Ln x backup/x alias name in os
  - Softlinks
  - Shortcuts In windows
  - ln -s

In [ ]:
a
ascii

In [78]:
# Average Income of all states from 2005 to 2013

filepath = 'DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    incomedf=pd.read_csv(filepath)
    df = pd.DataFrame(incomedf)
    #print(df)
    for row in df.values:
        print(row[1],end=' ')
        sum=0 
        c=0
        for i in range(2,len(row)):
            sum += int(row[i])
            c += 1
        print( sum/c)    

readCSVdata(filepath)

Alabama 41126.444444444445
Alaska 60106.555555555555
Arizona 47214.555555555555
Arkansas 38828.88888888889
California 55350.444444444445

In [28]:
filepath = 'DataFiles/Income.csv'
import pandas as pd

incomedf=pd.read_csv(filepath)
#incomedf
df = pd.DataFrame(incomedf)
print(df.mean(axis=1))  # row wise avg of the table

print(df.mean(axis=0))  #column wise avg of the table

0    41126.444444
1    60106.555556
2    48967.888889
3    38828.888889
4    55350.444444
dtype: float64

In [28]:
# Combined Average Income of all states from 2005 to 2013

filepath= 'DataFiles/Income.csv'
import pandas as pd

def combinedIncome(filepath):
    li=[]
    incomedf = pd.read_csv(filepath)
    df= pd.DataFrame(incomedf)
    sum1= 0
    for item in df.values:
        sum=0 
        count=0
        for i in range(2,len(item)):
            sum += int(item[i])
            count += 1
        avg = (sum/count)
        #print(avg)
        sum1 += avg
    print(sum1)    
    
combinedIncome(filepath)

244380.2222222222

In [69]:
# State with highest average income in the last three years

filepath = 'DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    incomedf=pd.read_csv(filepath)
    df = pd.DataFrame(incomedf)
    #print(df)
    li={}
    for row in df.values:
        sum=0 
        c=0
        d=len(row[-3:])
        for i in range(d,len(row)):
            sum += int(row[i])
            c += 1
        
        li[row[1]] =sum/c
    max_value = max(li.values())  # maximum value
    max_keys = [k for k, v in li.items() if v == max_value] # getting all keys containing the `maximum`

    print(max_keys[0],max_value)
    
        
          

readCSVdata(filepath)

Alaska 60633.5

In [55]:
pd.DataFrame(incomedf)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [77]:
# State with lowest average income from 2007 to 2010(inclusive)

filepath = 'DataFiles/Income.csv'

import pandas as pd

def lowestAverage(filepath):
    incomedf= pd.read_csv(filepath)
    df = pd.DataFrame(incomedf)
    li = {}
    for row in df.values:
        
        sum = 0 
        count = 0
        for i in range(4,7):
            sum += int(row[i])
            count += 1
        li[row[1]]= sum/count
    min_value=min(li.values())
    min_keys = [k for k, v in li.items() if v == min_value]
   
    print(min_keys[0],min_value)
            
lowestAverage(filepath)

Arkansas 38973.0

In [39]:
d={'name':'indira',''}
d['name']

'indira'

In [53]:
a='welcome to python'
a[10::-1]

' ot emoclew'

In [51]:
a[:11]+'program'

'welcome to program'

Alabama
Arizona
Arkansas

In [121]:
li =['Alabama', 'Arizona', 'Arkansas']

Alabama
Arizona
Arkansas