In [11]:
# Kth Largest Difference Pairs

def differencePairs(li):
    cli = li
    for i in range(len(li)+1):
        for j in range(i+1,len(li)+1):
            d = abs(li[i]-li[j])
            if d not in li:
                cli.append(d)
           # print(li)        
    return cli  
    

li=[1,9,8]                
differencePairs(li)

[1, 9, 8, 7, 6, 2, 3, 5, 4]

In [ ]:

def differencePairs(li):
    cli = li.copy()
    newelements=[]
    for i in range(len(li)+1):
        for j in range(i+1,len(li)+1):
            d = abs(li[i]-li[j])
            if d not in li and :
                cli.append(d)
           # print(li)  
        
    li.extend()    
    return cli  
    

li=[1,9,8]                
differencePairs(li)

In [12]:
def differencePairs(li):
    cli = li[:]
    print(cli)
    newelements = []
   
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli, li]

def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

li = [1,9,8,7,6,2]

medium(li,3)

[1, 9, 8, 7, 6, 2]
[1, 9, 8, 7, 6, 2, 5, 3, 4]

7

### Set -Data Structure 

Represented by '{}'

In [19]:
a={2,4,3,5,6,7,8,9,9}
a.add(12)  # Adding a single element
a

for i in a:
    print(i,end=' ') # Accessing elemets
    
b={7,8,9}
li=[45,12,34]
a.update(b,li)  #update multiple elements to the set  
a

2 3 4 5 6 7 8 9 12

{2, 3, 4, 5, 6, 7, 8, 9, 12, 34, 45}

In [26]:
a.discard(9) # removes the element from the set and also element is not in the set it's not display the error
a
a.remove(34) #  removes the element from the set and also element is not in the set it's display the error like key error.
a

{2, 3, 4, 5, 6, 7, 8, 12, 45}

In [29]:
a={1,3,4,6}
b={7,8,4,2,1}
c={111,342}
a.intersection(b)

a.isdisjoint(b)
a.isdisjoint(c)

True

In [33]:
a-b # All elements of 'a' which are not in 'b'

sorted(a) # It's sorted the elements.

a^b # Elements either in 'a' and 'b'

{2, 3, 6, 7, 8}

In [34]:
d= set() # create an empty set
d

set()

In [35]:
li= [1,4,5,6,2,1,2,3]
u=set(li)
u

{1, 2, 3, 4, 5, 6}

* Procedural : C

* Object Oriented : Java,Python

* Scripting :PHP,Python ,JavaScript,ShallScript  
    
* Functional : Python,Haskell,Scale
    
* Logic : Prolog, lisp

## List Comprehension

In [37]:
# N natural numbers in a list
n=10
li=[]
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
li= [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
# Apply list comprehension to store the cubes n natural numbers

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [47]:
# Function to calculate the m the factorial

def factorial(n):
    if n == 0 or n==1:
        return 1
    return n * factorial(n-1)

#Apply list comprahension to calculate n natural numbers

# Factorial of n natural numbers

n= 5

factorialList= [factorial(i) for i in range(1,n+1)]

factorialList

[1, 2, 6, 24, 120]

In [67]:
# Claculate or store cumelative sum of numbers till 'n' in a list 

def cumelative(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i
    #print(sum)
    return sum
n=5
cumelative = [cumelative(i) for i in range(1,n+1)]
cumelative

[1, 3, 6, 10, 15]

In [145]:
# Another Solution
n=6
cumelativeSum = [sum(range(1,i+1)) for i in range(1,n+1)]
cumelativeSum

TypeError: 'int' object is not callable

In [75]:
# List Comprehension to store only leap year in a given time period

st =1970
end=2019
leapyears =[i for i in range(st,end+1) if i %400==0 or (i%100 !=0 and i%4==0)]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [78]:
# List the unique values

li = [1,3,2,3,2,6,9]
unique=[]
unique=[i for i in li if i not in unique]
unique

[1, 3, 2, 3, 2, 6, 9]

In [100]:
# Another way
li = [1,3,2,3,2,6,9]
unique=[]
unique=[i for i in li if li.count(i)==1]
unique

[1, 6, 9]

In [109]:
li = [1,3,2,3,2,6,9]
unique=[]

#unique=[li[i] for i in range(0,len(li)-1) if sorted(li)[i] != sorted(li)[i+1]]
uniqueValues = [unique.append(i) for i in li if i not in unique]
unique

[1, 3, 2, 6, 9]

### Iterators

Iterable - Strings,Lists,Tuples,Sets,Dictionaries

Convert Iterable to Iterator ->iter()

Iterator-> You can stop the execution when you want during the execution time.

For Loop: You can't stop the execution when you want. during the execution time until the condition satisfieds

In [113]:
it = iter('Python')
next(it)
print(next(it))

y

### Generators

Generator is a user define Function

In [137]:
# Sample Queation:

def generator():
    n=2
    yield n 
    
    n= n ** 3
    yield n
    
    n=n**3
    
    yield n
    
a = generator()    
next(a) 
next(a) 
next(a) 
#next(a) # After Iteration we called it display error

8

In [143]:
# Another Solution using or Loop


def generator():
    n=2
    for i in range(1,5):
        n **= 3
        yield n
a = generator() 
print(next(a))
print(next(a))
print(next(a))
print(next(a))

In [129]:
# Another Solution using While Loop

def generator():
    n=2
    while(True):
        n **= 3
        yield n
a = generator() 
next(a)
b = next(a)**2
b *= next(a)
b

35184372088832

In [130]:
#Another exaples for generaions using for and While Loop

def generator():
    n=2
    while(True):
        n **= 3
        yield n
a = generator() 
next(a)
for i in range(1,5):
    print(next(a))

512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208