In [1]:
# Print the list of all states in the same line with average income less than California

filepath = 'DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    incomedf=pd.read_csv(filepath)
    df = pd.DataFrame(incomedf)
    li={}
    for row in df.values:
        #print(row[1],end=' ')
        sum=0 
        c=0
        for i in range(2,len(row)):
            sum += int(row[i])
            c += 1
        li[row[1]]= sum//c
    #print(li)
    st = [v[1] for v in li.items() if v[0] == 'California']  
    states = [j[0] for j in li.items() if j[1] < st[0]] 
    for z in states:
        print(z)
        

readCSVdata(filepath)

Alabama
Arizona
Arkansas

In [2]:
# Print the names of states based on descending order of income in the year 2009

import pandas as pd

filepath = 'DataFiles/Income.csv'
incomedf=pd.read_csv(filepath)
#incomedf
df = pd.DataFrame(incomedf)
df.sort_values("2009", axis = 0, ascending = False, 
                 inplace = True, na_position ='last') 

result=df.loc[:,["State"]] 
result

        State
1      Alaska
4  California
2     Arizona
0     Alabama
3    Arkansas

In [4]:
#State with the lowest recorded income from 2005 to 2013
import pandas as pd
def lowestRecord(df):
    inc = 0
    state = ''
    for item in df.values:        
        li=[]
        for i in range(2,len(item)):            
            li.append(item[i]) 
        if inc == 0:
            inc = min(li)
            state = item[1]
        elif inc > min(li) and inc != 0:            
            inc = min(li)
            state = item[1]
       
           
           
    print(state,inc)
lowestRecord(incomedf)

Arkansas 36538